@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcumb-wrapper" data-bg-src="img/bg/header-bg-1-1.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">About Us</h1>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="position-relative space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="img-box4">
                    <div class="ripple-thumb img-1">
                        <div class="ripple"></div>
                        <div class="ripple"></div>
                        <div class="ripple"></div>
                        <div class="ripple"></div>
                        <div class="ripple-img">
                            <img src="img/about/ab-5-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="ripple-thumb img-2">
                        <div class="ripple-img">
                            <img src="img/about/ab-5-2.jpg" alt="image">
                        </div>
                    </div>
                    <div class="exp-pill">
                        <span class="exp-pill__years">12+</span>
                        <p class="exp-pill__text">Years Business Experiance</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="ps-xxl-5 mb-30">
                    <h2 class="sec-title mb-2">Neither We Hesitate Nor Do We Back</h2>
                    <p class="mb-xl-4 pb-xl-3 pe-xxl-4 fs-md">If you’re wondering how to start a business, it may be easier than you think. Like other successful businesses, you’ll want to make sure you have a good idea first.</p>
                    <div class="list-style2">
                        <ul>
                            <li><i class="fal fa-check"></i>From there, you can build a product or service that solves a need for consumers. But before you jump into anything,</li>
                            <li><i class="fal fa-check"></i>From there, you can build a product or service that solves a need for consumers. But before you jump into anything,</li>
                        </ul>
                    </div>
                    <h3 class="h5 mb-0">Alines Jakson</h3>
                    <span class="d-block mb-3">Director, Company CEO</span>
                    <div>
                        <img src="img/about/auth-sign.png" alt="sign">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="space-bottom">
    <div class="container">
        <div data-bg-src="img/shape/counter-shape-1-1.jpg">
            <div class="row gx-0">
                <div class="col-md-6 col-lg vs-counter wow fadeInUp" data-wow-delay="0.3s">
                    <div class="vs-counter__number">
                        <span class="amount">259</span> <span class="quora">k</span>
                    </div>
                    <p class="vs-counter__text">Happy client's</p>
                </div>
                <div class="col-md-6 col-lg vs-counter wow fadeInUp" data-wow-delay="0.4s">
                    <div class="vs-counter__number">
                        <span class="amount">958</span> <span class="quora">M</span>
                    </div>
                    <p class="vs-counter__text">Project Complete</p>
                </div>
                <div class="col-md-6 col-lg vs-counter wow fadeInUp" data-wow-delay="0.5s">
                    <div class="vs-counter__number">
                        <span class="amount">23</span> <span class="quora">+</span>
                    </div>
                    <p class="vs-counter__text">Years Of Designing</p>
                </div>
                <div class="col-md-6 col-lg vs-counter wow fadeInUp" data-wow-delay="0.6s">
                    <div class="vs-counter__number">
                        <span class="amount">32</span> <span class="quora">+</span>
                    </div>
                    <p class="vs-counter__text">Loyal Employees</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="space" data-bg-src="img/bg/sr-bg-2-1.jpg">
    <div class="container">
        <div class="row justify-content-center text-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-xl-7">
                <div class="title-area">
                    <div class="sec-pills">
                        <div class="pill"></div>
                        <div class="pill"></div>
                        <div class="pill"></div>
                    </div>
                    <span class="sec-subtitle">What wE pROVIDE</span>
                    <h2 class="sec-title">Our Exclusive Features</h2>
                </div>
            </div>
        </div>
        <div class="row gx-0 text-center text-lg-start">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s ">
                <div class="service-style2">
                    <div class="service-icon">
                        <img src="img/icon/sr-2-1.png" alt="Service Shape">
                    </div>
                    <h3 class="service-title h5">
                        <a class="text-inherit" href="service-details.html">Strategy Consulting</a>
                    </h3>
                    <p class="service-text">You have your small business idea, your next step is to see if it’s worth pursuing.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s ">
                <div class="service-style2">
                    <div class="service-icon">
                        <img src="img/icon/sr-2-2.png" alt="Service Shape">
                    </div>
                    <h3 class="service-title h5">
                        <a class="text-inherit" href="service-details.html">Startup Business</a>
                    </h3>
                    <p class="service-text">You have your small business idea, your next step is to see if it’s worth pursuing.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s ">
                <div class="service-style2">
                    <div class="service-icon">
                        <img src="img/icon/sr-2-3.png" alt="Service Shape">
                    </div>
                    <h3 class="service-title h5">
                        <a class="text-inherit" href="service-details.html">Financial Consulting</a>
                    </h3>
                    <p class="service-text">You have your small business idea, your next step is to see if it’s worth pursuing.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s ">
                <div class="service-style2">
                    <div class="service-icon">
                        <img src="img/icon/sr-2-4.png" alt="Service Shape">
                    </div>
                    <h3 class="service-title h5">
                        <a class="text-inherit" href="service-details.html">IT Consulting</a>
                    </h3>
                    <p class="service-text">You have your small business idea, your next step is to see if it’s worth pursuing.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s ">
                <div class="service-style2">
                    <div class="service-icon">
                        <img src="img/icon/sr-2-5.png" alt="Service Shape">
                    </div>
                    <h3 class="service-title h5">
                        <a class="text-inherit" href="service-details.html">Media Consultant</a>
                    </h3>
                    <p class="service-text">You have your small business idea, your next step is to see if it’s worth pursuing.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-items-center justify-content-center mt-30 mt-md-0 wow fadeInUp" data-wow-delay="0.8s">
                <a href="service.html" class="view-big-btn">
                    <i class="far fa-arrow-right"></i> <span class="btn-text">View All Services</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s">
                <div class="title-area">
                    <div class="sec-pills">
                        <div class="pill"></div>
                        <div class="pill"></div>
                        <div class="pill"></div>
                    </div>
                    <span class="sec-subtitle">Team Members</span>
                    <h2 class="sec-title">Meet Our Experts</h2>
                </div>
            </div>
        </div>
        <div class="row team-wrap1 vs-carousel wow fadeInUp" data-wow-delay="0.4s" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2">
            <div class="col-xl-3 team-zigzag">
                <div class="team-style1">
                    <div class="team-img">
                        <a href="team-details.html">
                            <img src="img/team/t-1-1.jpg" alt="Team image">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="team-name h5">
                            <a href="team-details.html" class="text-inherit">Jessica Islam</a>
                        </h3>
                        <p class="team-degi">CEO &amp; Founder</p>
                        <a href="tel:+89012562156" class="team-number"><img src="img/icon/phone-1-2.png" alt="image">+89(0) 1256 2156</a>
                    </div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 team-zigzag">
                <div class="team-style1">
                    <div class="team-img">
                        <a href="team-details.html">
                            <img src="img/team/t-1-2.jpg" alt="Team image">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="team-name h5">
                            <a href="team-details.html" class="text-inherit">Marian Poly</a>
                        </h3>
                        <p class="team-degi">Developer</p>
                        <a href="tel:+89012562156" class="team-number"><img src="img/icon/phone-1-2.png" alt="image">+89(0) 1256 2156</a>
                    </div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 team-zigzag">
                <div class="team-style1">
                    <div class="team-img">
                        <a href="team-details.html">
                            <img src="img/team/t-1-3.jpg" alt="Team image">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="team-name h5">
                            <a href="team-details.html" class="text-inherit">Rose Mario</a>
                        </h3>
                        <p class="team-degi">Manager</p>
                        <a href="tel:+89012562156" class="team-number"><img src="img/icon/phone-1-2.png" alt="image">+89(0) 1256 2156</a>
                    </div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 team-zigzag">
                <div class="team-style1">
                    <div class="team-img">
                        <a href="team-details.html">
                            <img src="img/team/t-1-4.jpg" alt="Team image">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="team-name h5">
                            <a href="team-details.html" class="text-inherit">Jerzzy Lamot</a>
                        </h3>
                        <p class="team-degi">Team Leader</p>
                        <a href="tel:+89012562156" class="team-number"><img src="img/icon/phone-1-2.png" alt="image">+89(0) 1256 2156</a>
                    </div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 team-zigzag">
                <div class="team-style1">
                    <div class="team-img">
                        <a href="team-details.html">
                            <img src="img/team/t-1-5.jpg" alt="Team image">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="team-name h5">
                            <a href="team-details.html" class="text-inherit">Peter Parker</a>
                        </h3>
                        <p class="team-degi">Member Of Team</p>
                        <a href="tel:+91 77759 53769" class="team-number"><img src="img/icon/phone-1-2.png" alt="image">+91 77759 53769</a>
                    </div>
                    <div class="team-social">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space-extra-bottom">
    <div class="container">
        <div class="row gx-50">
            <div class="col-xl-6 mb-30 text-center text-xl-start wow fadeInUp" data-wow-delay="0.3s">
                <img src="img/about/faq-1-1.png" alt="image">
            </div>
            <div class="col-xl-6 align-self-center text-center text-xl-start wow fadeInUp" data-wow-delay="0.4s">
                <span class="sec-subtitle">Why choose us</span>
                <h2 class="sec-title mb-2 pb-2">We Help To Improve Customer Service</h2>
                <p class="pe-xxl-5 me-xxl-5 mb-4 pb-3">Once you know who your target customers are, conduct surveys and talk to people directly to gain more feedback.</p>
                <div class="accordion accordion-style1" id="accordionStyle1">
                    <div class="accordion-item active">
                        <div class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Business leaders Ideas</button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionStyle1">
                            <div class="accordion-body">
                                <p>Duis sed odio sit amet nibh vulputate cursus mauris Morbi ac cumsan ipsuy veli Nam nec tincidunt auctor uis sed odio sit amet ipsome nec tellus il tincidu ilm auctor Clas</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Defined as Systems Integrating</button>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionStyle1">
                            <div class="accordion-body">
                                <p>Duis sed odio sit amet nibh vulputate cursus mauris Morbi ac cumsan ipsuy veli Nam nec tincidunt auctor uis sed odio sit amet ipsome nec tellus il tincidu ilm auctor Clas</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Modules Together for Establishing</button>
                        </div>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionStyle1">
                            <div class="accordion-body">
                                <p>Duis sed odio sit amet nibh vulputate cursus mauris Morbi ac cumsan ipsuy veli Nam nec tincidunt auctor uis sed odio sit amet ipsome nec tellus il tincidu ilm auctor Clas</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Turn contribute to Organisational</button>
                        </div>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionStyle1">
                            <div class="accordion-body">
                                <p>Duis sed odio sit amet nibh vulputate cursus mauris Morbi ac cumsan ipsuy veli Nam nec tincidunt auctor uis sed odio sit amet ipsome nec tellus il tincidu ilm auctor Clas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space" data-bg-src="img/bg/process-bg-1.jpg">
    <div class="container">
        <div class="title-area text-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="sec-pills">
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
            </div>
            <span class="sec-subtitle2">How We Works</span>
            <h2 class="sec-title">Our Approach</h2>
        </div>
    </div>
    <div class="container position-relative">
        <div class="process-shape1 d-none d-lg-block">
            <img src="img/icon/process-shape-1-1.png" alt="shape">
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-auto process-style1 wow fadeInUp" data-wow-delay="0.3s">
                <div class="process-body">
                    <div class="process-shape"></div>
                    <div class="process-number">01</div>
                    <div class="process-icon">
                        <img src="img/icon/pro-1-1.png" alt="icon">
                    </div>
                    <p class="process-text">Select For Your Service</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-auto process-style1 wow fadeInUp" data-wow-delay="0.4s">
                <div class="process-body">
                    <div class="process-shape"></div>
                    <div class="process-number">02</div>
                    <div class="process-icon">
                        <img src="img/icon/pro-1-2.png" alt="icon">
                    </div>
                    <p class="process-text">Started Your Service</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-auto process-style1 wow fadeInUp" data-wow-delay="0.5s">
                <div class="process-body">
                    <div class="process-shape"></div>
                    <div class="process-number">03</div>
                    <div class="process-icon">
                        <img src="img/icon/pro-1-3.png" alt="icon">
                    </div>
                    <p class="process-text">Analysis Your Project</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-auto process-style1 wow fadeInUp" data-wow-delay="0.6s">
                <div class="process-body">
                    <div class="process-shape"></div>
                    <div class="process-number">04</div>
                    <div class="process-icon">
                        <img src="img/icon/pro-1-4.png" alt="icon">
                    </div>
                    <p class="process-text">Get Final Results</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="space">
    <div class="container">
        <div class="row vs-carousel text-center wow fadeInUp" data-wow-delay="0.3s" data-slide-show="5" data-md-slide-show="3" data-sm-slide-show="2">
            <div class="col">
                <img src="img/brand/brand-1-1.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-2.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-3.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-4.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-5.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-1.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-2.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-3.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-4.png" alt="Brand image">
            </div>
            <div class="col">
                <img src="img/brand/brand-1-5.png" alt="Brand image">
            </div>
        </div>
    </div>
</div>
<footer class="footer-wrapper footer-layout2">
    <div class="footer-top" data-bg-src="img/bg/footer-bg-1-2.jpg">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="newsletter-style1">
                        <div class="newsletter-icon">
                            <i class="fal fa-envelope-open-text"></i>
                        </div>
                        <h2 class="newsletter-title h1">Subscribe Newsletter</h2>
                        <p class="newsletter-text">Subscribe and get latest news and updates.</p>
                        <div class="form-group">
                            <input type="text" placeholder="Enter your email address..."> <button class="vs-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="widget-area">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-4">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Contact Us</h3>
                        <div class="footer-about">
                            <a href="tel:91 77759 53769" class="footer-number2">+91 77759 53769</a>
                            <p class="footer-address">Flat No. 11, Aashay Building, Ashokvan, Rawalpada, Dahisar (E) Mumbai - 400068</p>
                            <a href="Info@talergysolutions.com" class="footer-mail">contact@example.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Useful Links</h3>
                        <div class="row">
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="#">Our Compnay</a>
                                        </li>
                                        <li>
                                            <a href="about-2.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Latest News</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="team.html">Team Members</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Career objective</a>
                                        </li>
                                        <li>
                                            <a href="price-plan.html">Privacy policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="widget footer-widget">
                        <div class="sidebar-gallery">
                            <div class="gallery-thumb">
                                <a href="gallery-details.html">
                                    <img src="img/widget/gal-1-1.jpg" alt="Gallery Image" class="w-100">
                                </a>
                            </div>
                            <div class="gallery-thumb">
                                <a href="gallery-details.html">
                                    <img src="img/widget/gal-1-1-2.jpg" alt="Gallery Image" class="w-100">
                                </a>
                            </div>
                            <div class="gallery-thumb">
                                <a href="gallery-details.html">
                                    <img src="img/widget/gal-1-1-3.jpg" alt="Gallery Image" class="w-100">
                                </a>
                            </div>
                            <div class="gallery-thumb">
                                <a href="gallery-details.html">
                                    <img src="img/widget/gal-1-1-4.jpg" alt="Gallery Image" class="w-100">
                                </a>
                            </div>
                            <div class="gallery-thumb">
                                <a href="gallery-details.html">
                                    <img src="img/widget/gal-1-1-5.jpg" alt="Gallery Image" class="w-100">
                                </a>
                            </div>
                            <div class="gallery-thumb">
                                <a href="gallery-details.html">
                                    <img src="img/widget/gal-1-1-6.jpg" alt="Gallery Image" class="w-100">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto d-none d-lg-block">
                    <div class="copyright-logo">
                        <p>Talergy Solutions</p>
                    </div>
                </div>
                <div class="text-center col-lg-auto">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a href="index.html">Talergy Solutions</a> - Designe & Devloped By <a href="https://themeforest.net/user/vecuro_themes"></a>Maverickk Minds.</p>
                </div>
            </div>
        </div>
    </div>
</footer>