@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="vs-hero-wrapper position-relative">
    <div class="vs-hero-carousel" data-height="830" data-container="1900" data-slidertype="responsive">
        <div class="ls-slide" data-ls="duration:12000; transition2d:5; kenburnsscale:1.2;">
            <img width="40" height="32" src="img/hero/micro-1.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:60px; left:1068px;" data-ls="loop:true; loopoffsetx:50; loopduration:10000; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:5; static:forever;"> <img width="31" height="32" src="img/hero/micro-2.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:133px; left:995px; width:31px; height:32px;" data-ls="loop:true; loopduration:10000; looprotate:360; loopcount:-1; parallax:true; parallaxlevel:4; static:forever; rotation:97;"> <img width="41" height="34" src="img/hero/micro-3.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:218px; left:930px;" data-ls="loop:true; loopoffsety:-20; loopduration:4000; loopstartat:allinend + ; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:2; static:forever;"> <img width="32" height="34" src="img/hero/micro-4.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:85px; left:913px;" data-ls="loop:true; loopduration:10000; looprotate:-360; loopcount:-1; parallax:true; parallaxlevel:3; static:forever;"> <img width="40" height="32" src="img/hero/micro-1.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:85px; left:1564px;" data-ls="loop:true; loopduration:10000; looprotate:-360; loopcount:-1; parallax:true; parallaxlevel:3; static:forever; rotation:45;"> <img width="48" height="29" src="img/hero/micro-5.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:166px; left:1610px;" data-ls="loop:true; loopduration:10000; looprotate:360; loopcount:-1; parallax:true; parallaxlevel:4; static:forever;"> <img width="31" height="32" src="img/hero/micro-2.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:244px; left:1614px; width:31px; height:32px;" data-ls="loop:true; loopoffsetx:-50; loopduration:10000; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:3; static:forever;"> <img width="52" height="40" src="img/hero/micro-6.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:339px; left:1587px;" data-ls="loop:true; loopduration:10000; looprotate:-360; loopcount:-1; parallax:true; parallaxlevel:2; static:forever;"> <img width="48" height="41" src="img/hero/micro-7.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:537px; left:1558px;" data-ls="loop:true; loopoffsety:20; loopduration:4000; loopstartat:allinend + ; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:4; static:forever;"> <img width="40" height="32" src="img/hero/micro-1.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:693px; left:1493px;" data-ls="loop:true; loopoffsetx:50; loopoffsety:50; loopduration:10000; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:3; static:forever;"> <img width="45" height="47" src="img/hero/micro-12.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:739px; left:1397px;" data-ls="loop:true; loopduration:10000; looprotate:360; loopcount:-1; parallax:true; parallaxlevel:2; static:forever;"> <img width="48" height="41" src="assets/img/hero/micro-7.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:770px; left:1504px;" data-ls="loop:true; loopduration:10000; looprotate:-360; loopcount:-1; parallax:true; parallaxlevel:2; static:forever;"> <img width="32" height="37" src="img/hero/micro-8.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:740px; left:1271px;" data-ls="loop:true; loopoffsetx:-50; loopduration:10000; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:3; static:forever;"> <img width="48" height="48" src="img/hero/micro-10.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:680px; left:1035px;" data-ls="loop:true; loopoffsety:20; loopduration:4000; loopstartat:allinend + ; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:4; static:forever;"> <img width="32" height="34" src="img/hero/micro-4.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:724px; left:966px;" data-ls="loop:true; loopduration:10000; looprotate:360; loopcount:-1; parallax:true; parallaxlevel:3; static:forever;"> <img width="31" height="32" src="assets/img/hero/micro-2.png" class="ls-l ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:655px; left:932px; width:31px; height:32px;" data-ls="loop:true; loopoffsetx:70; loopduration:10000; loopcount:-1; loopyoyo:true; parallax:true; parallaxlevel:3; static:forever;">
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:165px; top:50%;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="static:forever;">
                <a href="#" class="ls-custom-dot style2"></a><a href="#" class="ls-custom-dot style2"></a><a href="#" class="ls-custom-dot style2"></a>
            </div>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; width:659px; height:659px; left:945px; top:85px;" class="ls-l ls-html-layer" data-ls="parallax:true; parallaxlevel:5; static:forever;">
                <div class="hero-ripple-border">
                    <div class="ripple-border"></div>
                    <div class="ripple-border"></div>
                    <div class="ripple-border"></div>
                    <div class="ripple-border"></div>
                </div>
            </div>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; width:659px; height:659px; left:945px; top:85px; z-index:200;" class="ls-l ls-html-layer" data-ls="parallax:true; parallaxlevel:5;">
                <div class="hero-ripple-img">
                    <img src="img/hero/hero-slide-2-1.jpg" alt="image">
                </div>
            </div>
            <p style="font-size:16px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; left:315px; top:153px; font-family:'Poppins', sans-serif; letter-spacing:1px; color:#fd5115; border-width:3px 3px 3px 3px; border-color:#fd5115; border-radius:9999px 9999px 9999px 9999px; padding-top:0px; padding-right:30px; padding-bottom:0px; padding-left:30px; height:35px; line-height:35px; border-style: solid;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetyin:-150; durationin:1500; delayin:200; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">Fintech Company Branding</p>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:203px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Build Your</h1>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:273px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Business From</h1>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:343px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Scratch</h1>
            <p style="font-size:20px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:315px; top:432px; color:#000000; line-height:30px;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:900; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:-100; durationout:1500; bgcolorout:transparent; colorout:transparent;">Build a strong business without investing time<br>and money into it.</p>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:315px; top:540px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
            <img width="91" height="98" src="img/hero/hero-phone-1.png" class="ls-l ls-ml-none ls-hide-tablet ls-hide-phone ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:535px; left:540px;" data-ls="offsetyin:100; durationin:1500; delayin:1300; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetyout:100; durationout:1500; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
            <p style="font-size:16px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; color:#000000; top:545px; left:625px; font-family:'Poppins', sans-serif;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:100; durationin:1500; delayin:1500; easingin:easeOutQuint; offsetxout:100; durationout:1500; easingout:easeOutQuint;">Phone Number</p>
            <p style="font-size:26px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; color:#000000; left:625px; top:570px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="offsetxin:100; durationin:1500; delayin:1500; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:100; durationout:1600; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
                <a href="tel:+58925621536" class="text-inherit">+91 77759 53769</a>
            </p>
            <p style="font-size:28px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; left:150px; top:75px; font-family:'Poppins', sans-serif; letter-spacing:1px; color:#fd5115; border-width:3px 3px 3px 3px; border-color:#fd5115; border-radius:9999px 9999px 9999px 9999px; padding-top:0px; padding-right:50px; padding-bottom:0px; padding-left:50px; line-height:60px; height:60px;  border-style: solid;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetyin:-150; durationin:1500; delayin:200; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">Fintech Company Branding</p>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:159px; color:#000000;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Build Your</h1>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:263px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Business From</h1>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:368px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Scratch</h1>
            <p style="text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:497px; color:#000000; line-height:46px; font-size:30px;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:900; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:-100; durationout:1500; bgcolorout:transparent; colorout:transparent;">Build a strong business without investing time<br>and money into it.</p>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:150px; top:634px;" class="ls-l ls-hide-desktop ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:85px; color:#000000;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Build Your</h1>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:215px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Business From</h1>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:344px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Scratch</h1>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:80px; top:551px;" class="ls-l ls-hide-desktop ls-hide-tablet ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
        </div>
        <div class="ls-slide" data-ls="duration:12000; transition2d:5; kenburnsscale:1.2;">
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; width:659px; height:659px; left:945px; top:85px; z-index:200;" class="ls-l ls-html-layer" data-ls="parallax:true; parallaxlevel:5;">
                <div class="hero-ripple-img">
                    <img src="img/hero/hero-slide-2-2.jpg" alt="image">
                </div>
            </div>
            <p style="font-size:16px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; left:315px; top:153px; font-family:'Poppins', sans-serif; letter-spacing:1px; color:#fd5115; border-width:3px 3px 3px 3px; border-color:#fd5115; border-radius:9999px 9999px 9999px 9999px; padding-top:0px; padding-right:30px; padding-bottom:0px; padding-left:30px; height:35px; line-height:35px; border-style: solid;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetyin:-150; durationin:1500; delayin:200; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">Fintech Company Branding</p>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:203px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Grow Your</h1>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:273px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Online Store</h1>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:343px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">With Experts</h1>
            <p style="font-size:20px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:315px; top:432px; color:#000000; line-height:30px;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:900; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:-100; durationout:1500; bgcolorout:transparent; colorout:transparent;">Build a strong business without investing time<br>and money into it.</p>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:315px; top:540px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
            <img width="91" height="98" src="assets/img/hero/hero-phone-1.png" class="ls-l ls-ml-none ls-hide-tablet ls-hide-phone ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:535px; left:540px;" data-ls="offsetyin:100; durationin:1500; delayin:1300; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetyout:100; durationout:1500; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
            <p style="font-size:16px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; color:#000000; top:545px; left:625px; font-family:'Poppins', sans-serif;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:100; durationin:1500; delayin:1500; easingin:easeOutQuint; offsetxout:100; durationout:1500; easingout:easeOutQuint;">Phone Number</p>
            <p style="font-size:26px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; color:#000000; left:625px; top:570px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="offsetxin:100; durationin:1500; delayin:1500; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:100; durationout:1600; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
                <a href="tel:+58925621536" class="text-inherit">+589 2562 1536</a>
            </p>
            <p style="font-size:28px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; left:150px; top:75px; font-family:'Poppins', sans-serif; letter-spacing:1px; color:#fd5115; border-width:3px 3px 3px 3px; border-color:#fd5115; border-radius:9999px 9999px 9999px 9999px; padding-top:0px; padding-right:50px; padding-bottom:0px; padding-left:50px; line-height:60px; height:60px; border-style: solid;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetyin:-150; durationin:1500; delayin:200; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">Fintech Company Branding</p>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:159px; color:#000000;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Grow Your</h1>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:263px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Online Store</h1>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:368px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">With Experts</h1>
            <p style="text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:497px; color:#000000; line-height:46px; font-size:30px;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:900; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:-100; durationout:1500; bgcolorout:transparent; colorout:transparent;">Build a strong business without investing time<br>and money into it.</p>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:150px; top:634px;" class="ls-l ls-hide-desktop ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:85px; color:#000000;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Grow Your</h1>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:215px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Online Store</h1>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:344px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">With Experts</h1>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:80px; top:551px;" class="ls-l ls-hide-desktop ls-hide-tablet ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
        </div>
        <div class="ls-slide" data-ls="duration:12000; transition2d:5; kenburnsscale:1.2;">
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; width:659px; height:659px; left:945px; top:85px; z-index:200;" class="ls-l ls-html-layer" data-ls="parallax:true; parallaxlevel:5;">
                <div class="hero-ripple-img">
                    <img src="img/hero/hero-slide-2-3.jpg" alt="image">
                </div>
            </div>
            <p style="font-size:16px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; left:315px; top:153px; font-family:'Poppins', sans-serif; letter-spacing:1px; color:#fd5115; border-width:3px 3px 3px 3px; border-color:#fd5115; border-radius:9999px 9999px 9999px 9999px; padding-top:0px; padding-right:30px; padding-bottom:0px; padding-left:30px; height:35px; line-height:35px; border-style: solid;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetyin:-150; durationin:1500; delayin:200; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">Fintech Company Branding</p>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:203px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Share Your</h1>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:273px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Business Think</h1>
            <h1 style="font-size:70px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:310px; top:343px; color:#000000;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">With Pro Team</h1>
            <p style="font-size:20px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:315px; top:432px; color:#000000; line-height:30px;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:900; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:-100; durationout:1500; bgcolorout:transparent; colorout:transparent;">Build a strong business without investing time<br>and money into it.</p>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:315px; top:540px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
            <img width="91" height="98" src="assets/img/hero/hero-phone-1.png" class="ls-l ls-ml-none ls-hide-tablet ls-hide-phone ls-img-layer" alt="" style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:535px; left:540px;" data-ls="offsetyin:100; durationin:1500; delayin:1300; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetyout:100; durationout:1500; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
            <p style="font-size:16px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; color:#000000; top:545px; left:625px; font-family:'Poppins', sans-serif;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:100; durationin:1500; delayin:1500; easingin:easeOutQuint; offsetxout:100; durationout:1500; easingout:easeOutQuint;">Phone Number</p>
            <p style="font-size:26px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; color:#000000; left:625px; top:570px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="offsetxin:100; durationin:1500; delayin:1500; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:100; durationout:1600; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
                <a href="tel:+58925621536" class="text-inherit">+589 2562 1536</a>
            </p>
            <p style="font-size:28px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; left:150px; top:75px; font-family:'Poppins', sans-serif; letter-spacing:1px; color:#fd5115; border-width:3px 3px 3px 3px; border-color:#fd5115; border-radius:9999px 9999px 9999px 9999px; padding-top:0px; padding-right:50px; padding-bottom:0px; padding-left:50px; line-height:60px; height:60px; border-style: solid;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetyin:-150; durationin:1500; delayin:200; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">Fintech Company Branding</p>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:159px; color:#000000;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Share Your</h1>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:263px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Business Think</h1>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:368px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">With Pro Team</h1>
            <p style="text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:150px; top:497px; color:#000000; line-height:46px; font-size:30px;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:900; easingin:easeOutQuint; bgcolorin:transparent; colorin:transparent; offsetxout:-100; durationout:1500; bgcolorout:transparent; colorout:transparent;">Build a strong business without investing time<br>and money into it.</p>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:150px; top:634px;" class="ls-l ls-hide-desktop ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:85px; color:#000000;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Share Your</h1>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:215px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">Business Think</h1>
            <h1 style="font-size:110px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; background-position:0% 0%; background-repeat:no-repeat; font-family:'Poppins', sans-serif; left:80px; top:344px; color:#000000; background-color:transparent; cursor:auto;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">With Pro Team</h1>
            <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:80px; top:551px;" class="ls-l ls-hide-desktop ls-hide-tablet ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:1100; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint;">
                <a href="contact.html" class="vs-btn ls-vs-btn">Get In Touch</a>
            </div>
        </div>
    </div>
</section>
<section class="space">
    <div class="container">
        <div class="nav about-tab" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission" aria-selected="true">Our Mission</button> <button class="nav-link" id="nav-vision-tab" data-bs-toggle="tab" data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision" aria-selected="false">Our Vision</button> <button class="nav-link" id="nav-ourgoals-tab" data-bs-toggle="tab" data-bs-target="#nav-ourgoals" type="button" role="tab" aria-controls="nav-ourgoals" aria-selected="false">Our Goals</button>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="img/about/ab-2-1.png" alt="about image" class="w-100">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-box2">
                            <span class="sec-subtitle">Get and amazing</span>
                            <h2 class="sec-title">Get Right Solution for Your Business</h2>
                            <p class="fs-md mb-4 pb-2">You can’t build a strong business without investing time and money into it. You’ll also need to promote your business and establish...</p>
                            <div class="list-style1">
                                <ul>
                                    <li><i class="fal fa-check"></i>Easy To Connect With Customer</li>
                                    <li><i class="fal fa-check"></i>Interactive Growing Company From Startup</li>
                                    <li><i class="fal fa-check"></i>Manage Your Business &amp; Guide To Build</li>
                                </ul>
                            </div>
                            <a href="#" class="vs-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="img/about/ab-2-2.png" alt="about image">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-box2">
                            <span class="sec-subtitle">Stay Confident</span>
                            <h2 class="sec-title">Business Digitaly &amp; Take Consulation</h2>
                            <p class="fs-md mb-4 pb-2">You can’t build a strong business without investing time and money into it. You’ll also need to promote your business and establish...</p>
                            <div class="list-style1">
                                <ul>
                                    <li><i class="fal fa-check"></i>Easy To Connect With Customer</li>
                                    <li><i class="fal fa-check"></i>Interactive Growing Company From Startup</li>
                                    <li><i class="fal fa-check"></i>Manage Your Business &amp; Guide To Build</li>
                                </ul>
                            </div>
                            <a href="#" class="vs-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-ourgoals" role="tabpanel" aria-labelledby="nav-ourgoals-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="img/about/ab-2-3.png" alt="about image">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-box2">
                            <span class="sec-subtitle">Connect With World</span>
                            <h2 class="sec-title">Provide Opinion To Grow More Faster</h2>
                            <p class="fs-md mb-4 pb-2">You can’t build a strong business without investing time and money into it. You’ll also need to promote your business and establish...</p>
                            <div class="list-style1">
                                <ul>
                                    <li><i class="fal fa-check"></i>Easy To Connect With Customer</li>
                                    <li><i class="fal fa-check"></i>Interactive Growing Company From Startup</li>
                                    <li><i class="fal fa-check"></i>Manage Your Business &amp; Guide To Build</li>
                                </ul>
                            </div>
                            <a href="#" class="vs-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space-top">
    <div class="container">
        <div class="row gy-gx">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="media-style4">
                    <div class="media-icon">
                        <img src="img/icon/fe-m-2-1.png" alt="icon">
                    </div>
                    <div class="media-body">
                        <span class="media-label">100%</span>
                        <p class="media-info">Client Setisfaction</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="media-style4 layout2">
                    <div class="media-icon">
                        <img src="img/icon/fe-m-2-2.png" alt="icon">
                    </div>
                    <div class="media-body">
                        <span class="media-label">35k+</span>
                        <p class="media-info">Complete Project</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="media-style4">
                    <div class="media-icon">
                        <img src="img/icon/fe-m-2-3.png" alt="icon">
                    </div>
                    <div class="media-body">
                        <span class="media-label">350k</span>
                        <p class="media-info">Consulting Resource</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br/>
<br/>
<section class="space-extra-bottom">
    <div class="container">
        <div class="row gx-4 vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-center-mode="true" data-lg-center-mode="true" data-ml-center-mode="true" data-xl-center-mode="true">
            <div class="col-xl-4 feature-multi">
                <div class="feature-style1">
                    <div class="feature-img">
                        <img src="img/feature/feature-1-1.jpg" alt="features image">
                    </div>
                    <div class="feature-content">
                        <div class="feature-icon">
                            <img src="img/icon/fe-1-1.png" alt="icon">
                        </div>
                        <h3 class="feature-title h5">
                            <a class="text-inherit" href="#">Complete Innovation</a>
                        </h3>
                        <p class="feature-text">Markets evolve compelling supply chains without virtual resources. empowered customer service for reliable.</p>
                        <a href="#" class="icon-btn style2">
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 feature-multi">
                <div class="feature-style1">
                    <div class="feature-img">
                        <img src="img/feature/feature-1-2.jpg" alt="features image">
                    </div>
                    <div class="feature-content">
                        <div class="feature-icon">
                            <img src="img/icon/fe-1-2.png" alt="icon">
                        </div>
                        <h3 class="feature-title h5">
                            <a class="text-inherit" href="#">Agency Growth Check</a>
                        </h3>
                        <p class="feature-text">Markets evolve compelling supply chains without virtual resources. empowered customer service for reliable.</p>
                        <a href="#" class="icon-btn style2">
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 feature-multi">
                <div class="feature-style1">
                    <div class="feature-img">
                        <img src="img/feature/feature-1-3.jpg" alt="features image">
                    </div>
                    <div class="feature-content">
                        <div class="feature-icon">
                            <img src="img/icon/fe-1-3.png" alt="icon">
                        </div>
                        <h3 class="feature-title h5">
                            <a class="text-inherit" href="#">Business Startup</a>
                        </h3>
                        <p class="feature-text">Markets evolve compelling supply chains without virtual resources. empowered customer service for reliable.</p>
                        <a href="#" class="icon-btn style2">
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 feature-multi">
                <div class="feature-style1">
                    <div class="feature-img">
                        <img src="img/feature/feature-1-4.jpg" alt="features image">
                    </div>
                    <div class="feature-content">
                        <div class="feature-icon">
                            <img src="img/icon/fe-1-4.png" alt="icon">
                        </div>
                        <h3 class="feature-title h5">
                            <a class="text-inherit" href="#">Business Research</a>
                        </h3>
                        <p class="feature-text">Markets evolve compelling supply chains without virtual resources. empowered customer service for reliable.</p>
                        <a href="#" class="icon-btn style2">
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 feature-multi">
                <div class="feature-style1">
                    <div class="feature-img">
                        <img src="img/feature/feature-1-5.jpg" alt="features image">
                    </div>
                    <div class="feature-content">
                        <div class="feature-icon">
                            <img src="img/icon/fe-1-5.png" alt="icon">
                        </div>
                        <h3 class="feature-title h5">
                            <a class="text-inherit" href="#">Expert Consultation</a>
                        </h3>
                        <p class="feature-text">Markets evolve compelling supply chains without virtual resources. empowered customer service for reliable.</p>
                        <a href="#" class="icon-btn style2">
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 align-self-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="title-area text-center text-xl-start">
                    <div class="sec-line mx-auto mx-xl-0"></div>
                    <span class="sec-subtitle">customer Testimonial</span>
                    <h2 class="sec-title">10,00+ happy Customers</h2>
                </div>
                <div class="d-flex gap-2 d-none d-xl-block">
                    <button class="icon-btn style3" data-slick-prev="#testId">
                        <i class="far fa-long-arrow-left"></i>
                    </button>
                    <button class="icon-btn style3" data-slick-next="#testId">
                        <i class="far fa-long-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-xl-8 wow fadeInUp" data-wow-delay="0.4s">
                <div class="testi-style1">
                    <div class="testi-avater vs-slider-tab" data-asnavfor="#testId">
                        <button class="tab-btn active">
                            <img src="img/testimonial/avater-1-1.jpg" alt="avater">
                        </button>
                        <button class="tab-btn">
                            <img src="img/testimonial/avater-1-2.jpg" alt="avater">
                        </button>
                        <button class="tab-btn">
                            <img src="img/testimonial/avater-1-3.jpg" alt="avater">
                        </button>
                        <button class="tab-btn">
                            <img src="img/testimonial/avater-1-4.jpg" alt="avater">
                        </button>
                        <button class="tab-btn">
                            <img src="img/testimonial/avater-1-5.jpg" alt="avater">
                        </button>
                    </div>
                    <div class="testi-shape" data-bg-src="img/bg/testi-bg-1-1.jpg"></div>
                    <div class="vs-carousel" id="testId" data-slide-show="1" data-fade="true">
                        <div>
                            <div class="testi-quote">
                                <img src="img/icon/quote-i-1-2.png" alt="quote">
                            </div>
                            <p class="testi-text">Globally e-enable installed base potentialities for vertical growth strategies. Holisticly eintermediate low-risk high-yield expertise</p>
                            <h3 class="testi-author h4">Jerzzy Lamot</h3>
                            <span class="testi-degi">UI/UX Designer</span>
                            <div class="testi-rating">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div>
                            <div class="testi-quote">
                                <img src="img/icon/quote-i-1-2.png" alt="quote">
                            </div>
                            <p class="testi-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud</p>
                            <h3 class="testi-author h4">Vivi Marian</h3>
                            <span class="testi-degi">CEO &amp; Founder</span>
                            <div class="testi-rating">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div>
                            <div class="testi-quote">
                                <img src="img/icon/quote-i-1-2.png" alt="quote">
                            </div>
                            <p class="testi-text">The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets with their software</p>
                            <h3 class="testi-author h4">Peter Parker</h3>
                            <span class="testi-degi">Product Designer</span>
                            <div class="testi-rating">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div>
                            <div class="testi-quote">
                                <img src="img/icon/quote-i-1-2.png" alt="quote">
                            </div>
                            <p class="testi-text">In particular, the garbled words of lorem ipsum bear an unmistakable resemblance to sections strategies. Holisticly eintermediate low-risk</p>
                            <h3 class="testi-author h4">Rose Mario</h3>
                            <span class="testi-degi">Template Desinger</span>
                            <div class="testi-rating">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div>
                            <div class="testi-quote">
                                <img src="img/icon/quote-i-1-2.png" alt="quote">
                            </div>
                            <p class="testi-text">Globally e-enable installed base potentialities for vertical growth strategies. Holisticly eintermediate low-risk high-yield expertise</p>
                            <h3 class="testi-author h4">Jerzzy Lamot</h3>
                            <span class="testi-degi">UI/UX Designer</span>
                            <div class="testi-rating">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>