<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>http://talentsynergysolution.com</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <ProjectGuid>0977fc84-ff95-459a-b254-04f7ff54207b</ProjectGuid>
        <MSDeployServiceURL>https://talentsynergysolution.com:8172/msdeploy.axd?site=talentsynergysolution.com</MSDeployServiceURL>
        <DeployIisAppPath>talentsynergysolution.com</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>
        <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
        <UserName>ph16333362527</UserName>
        <_SavePWD>true</_SavePWD>
        <TargetFramework>net8.0</TargetFramework>
        <SelfContained>false</SelfContained>
    </PropertyGroup>
</Project>